[Unit]
Description=Enocean MQTT Bridge

[Service]
Type=simple
ExecStart=/opt/enocean-mqtt-bridge/enocean-mqtt-bridge.sh -s -p -c /opt/enocean-mqtt-bridge/enocean-mqtt-bridge.yaml
Restart=always
RestartSec=300
WorkingDirectory=/opt/enocean-mqtt-bridge
User=pi

[Install]
WantedBy=multi-user.target
